<table mdbTable hover="true" class="container" mdbTableScroll scrollX="true" maxWidth="100%">
  <thead>
    <tr>
      <th>Title</th>
      <!-- <th>Description</th> -->
      <th>Author</th>
      <th>Year of Publication</th>
    </tr>
  </thead>
  <tbody>
    <td *ngIf="service.list?.length == 0">There are not recently added books, sign-in/up to add!</td>
    <tr mdbTableCol *ngFor="let book of service.list">
      <td>{{book.Title}}</td>
      <!-- <td>{{book.Description}}</td> -->
      <td>{{book.Author}}</td>
      <td>{{book.Publication}}</td>
      <td>{{book.Description}}</td>
      <td *ngIf="isLoggedIn"><button (click)="onEdit(book)"
          class="btn btn-sm btn-outline-primary">Edit</button></td>
      <td *ngIf="isLoggedIn"><button (click)="onDelete(book.BookID, book.Title)"
          class="btn btn-sm btn-outline-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
