<div class="jumbotron">
  <h1 class="display-4">Welcome to my e-Library!</h1>
  <p class="lead">​Explore electronic resources that are FREE to you with your Phoenix Public Library card. Search for
    something specific or browse the online resources listed.

    Phoenix Public Library works with various vendors to provide access to the following resources. Access is made
    available through your library account, but some resources may also require you to create an additional account with
    them in order to access their services. Prior to any account creation, please make sure to read the resources’ terms
    and conditions.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>